@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i");
@import url('https://fonts.googleapis.com/css?family=Vibur'); /*font-family: 'Vibur', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Barrio'); /*font-family: 'Barrio', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Tangerine'); /*font-family: 'Tangerine', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Montserrat'); /*font-family: 'Montserrat', sans-serif;*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {        /* Firefox < 16 */
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {     /* Safari, Chrome and Opera > 12.1 */
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {         /* Internet Explorer */
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {          /* Opera < 12.1 */
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/*.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}*/

/* Main */

htitle {
    font-family: 'Tangerine', cursive;
    /*font-family: 'Old London Alternate';*/
    color: white;
    font-size: 45px;
    font-weight: bold;
}

body {
    padding-top: 50px;
    /*background-image: url("../images/Textures/asdf (2).jpg");*/
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 1s;   /* Opera < 12.1 */
            animation: fadein 1s;
}

p {
    font: 400 15px Lato, sans-serif;
    font-size: 100%;
    color: #818181;
    text-align: center;
}

h1 {
    font: 400 15px Lato, sans-serif;
    font-size: 150%;
    letter-spacing: 3px;
    color: #818181;
    text-align: center;
}

#lnmiit {
    display: block;
    height: 70vh;
    width: 100%;
    background-size: contain;
}

.container {
    padding-top: 3px;
}

.slideanim {
    visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/* Navigation Bar */

.navbar {
    /*background-image: url("../images/Textures/asdf (2).jpg");
    background-repeat: no-repeat;
    background-size: 100%;*/
    letter-spacing: 4px;
    border: 0;
}

.navbar-default.navbar-brand {
    color: white;
}

/* Item Contents */

.item {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    -webkit-transition: box-shadow 0.2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition: box-shadow 0.2s; /* Firefox < 16 */
        -ms-transition: box-shadow 0.2s; /* Internet Explorer */
         -o-transition: box-shadow 0.2s; /* Opera < 12.1 */
            transition: box-shadow 0.2s;
}

.item:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.item img {
    height: 10px;
    background-size: contain;
    -webkit-transition: all 0.3s ease-in;
}

.thumbnail a>img, .thumbnail>img {
    display: block;
    height: 30vh;
    width: 25vw;
    background-size: contain;
}

.item:hover img {
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
}

.item p {
    font: 400 15px Lato, sans-serif;
    font-size: 100%;
    color: #818181;
    text-align: center;
}

.item h1 {
    font: 400 15px Lato, sans-serif;
    font-size: 100%;
    letter-spacing: 3px;
    color: #818181;
    text-align: center;
}

/* About */

.about {
    /*background-image: url("../images/Textures/asdf (2).jpg");*/
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
}

.about img {
    text-align: center;
    /*margin-left: 110px;
    width: 200px;
    height: 200px;*/
    margin: auto;
    width: 50%;
    text-align: center;
    display: block;
    width: 65%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.about .row {
    padding-top: 3vh;
}

.about p {
    /*color: #D5DBDB;*/
    color: #818181;
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
    font-style: italic;
    display: inline;
}

.about p::first-letter {
    font-size: 180%;
    color: #818181;
}

.about h1 {
    color: #818181;
    font-family: 'Josefin Slab', serif;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    display: inline;
    margin-left: 1px;
}

.about h2 {
    color: #818181;
    font-family: 'Josefin Slab', serif;
    font-size: 35px;
    font-style: italic;
    margin-left: 1px;
}

.about i {
    margin: 10% auto auto auto;
    font-size: 80px;
    color: #808080;
    height: 100%;

    /* Centralise */
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
}

.about .bio {
    background-color: white;
    width: 100%;
}

/*Footer*/

.footer {
    background-color: #2f2f2f;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 40px;
    font-style: italic;
    padding-bottom: 2vh;
}

.footer h1 {
    font-size: 100%;
    font-family: 'Vibur', cursive;
    font-weight: lighter;
    color: grey;
}

.footer p {
    font: 400 15px Lato, sans-serif;
    font-weight: lighter;
    display: inline;
    font-size: 40%;
    color: grey;
}

.footer a {
    color: #2f2f2f;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.footer a:hover {
    color: grey;
}

.footer .contact {
    background-color: #f6f6f6;
    padding-top: 0px;
    margin-top: 0px;
}

.footer .social {
    padding-top: 20px;
    font-size: 5vw;
    width: 70vw;
    margin: auto;

    /* Centralise */
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
}

.ion-social-youtube-outline,
.ion-social-googleplus-outline,
.ion-social-github-outline,
.ion-social-linkedin-outline,
.ion-social-instagram-outline {
  font-size: 9vmin;
  text-align: center;
  color: grey;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.ion-social-youtube-outline:hover,
.ion-social-googleplus-outline:hover,
.ion-social-github-outline:hover,
.ion-social-linkedin-outline:hover,
.ion-social-instagram-outline:hover {
    color: white;
}
